.main{
    background-image: linear-gradient(to right bottom, #ececec, #2ecc71); /*Top left to Right Bottom*/
}
.link{
    font-weight:bold;
    text-decoration: none;
}

.forms{
    height: fit-content;
    margin: 25vh auto;
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgb(207, 207, 207);
    align-items: center;
    text-align: center;
    background-color: #2E2626;
    opacity: 58%;

    .passwordreset-form{
        padding-top: 20px;
    }

    .form-field{
        padding: 10px;
        display: block;

        input{
            position: relative;
            background-color: #CCBEBE;
            opacity: 68%;
            font-weight: bold;
            border-radius: 5px;
            padding: 10px;
            font-weight: bold;
            color: black;

            &::placeholder{
                color: #000000;
                opacity: 43%;
            }
        }
    }

    .form-head{
        color: white;
        font-weight: bold;
        font-size: larger;
    }

    .form-error{
        color: white;
    }

    .form-footer{
        color: white;
        font-weight: bold;
    }

    .button{
        box-shadow: 10px 5px 5px black;
        background-color: #4ecc71;
        border-radius: 5px;
        margin-top: 20px;
        width: 200px;
    }

    .link{
        color: #4ecc71;
        font-weight: bold;
        text-decoration: none;
    }
}


